#root {
  min-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
}

.main-section {
  width: 60%;
  padding-top: 50px;
  margin-left: 70px;
}

.combat-section {
  padding-top: 50px;
  width: 30%;
  background: #cecdcd;
}

.search input {
  width: 50%;
  height: 50px;
  background: #cecdcd;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.combat-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.combat-section-empty-list {
  text-align: center;
  margin-top: 200px;
}